body {
  background-image: url(../images/bar-bienvenida.jpeg);
  background-size: cover;
}

.bienvenidos {
  text-align: center;
}

.bienvenidos__text {
  margin-top: 5%;
  font-size: 50px;
  color: yellow;
  text-shadow: 5px 5px 3px black;
}

.card__boton1, .card__boton2, .card__boton3 {
  background-image: url(../images/Boton_seleccion/reserva-mesa.jpg);
  background-position: center;
  background-size: cover;
  height: 500px;
  width: 400px;
  color: white;
  margin: 5% auto;
  padding: 0%;
  border: solid 1px white;
  -webkit-box-shadow: 15px 15px 10px black;
          box-shadow: 15px 15px 10px black;
}

.card__boton1:hover, .card__boton2:hover, .card__boton3:hover {
  left: 5px;
  top: 10px;
  -webkit-box-shadow: none;
          box-shadow: none;
}

.card__boton1--text, .card__boton2--text, .card__boton3--text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: rgba(0, 0, 0, 0.5);
}

.card__boton1--text-footer, .card__boton2--text-footer, .card__boton3--text-footer {
  background-color: rgba(0, 0, 0, 0.5);
  border: solid 1px white;
  color: white !important;
}

.card__boton2 {
  background-image: url(../images/Boton_seleccion/trago-en-barra.jpg);
}

.card__boton3 {
  background-image: url(../images/Boton_seleccion/comida-para-llevar.jpg);
}

/* .contenedor {
    display: flex;
    flex-direction: row; 
    justify-content: center;
} */
/* @media (max-width: 1000px) {
    .contenedor{
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 10%;
    }
} */
.reservasDeMesas {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.botonResAden {
  border: solid 2px green;
  width: 350px;
  height: 350px;
  margin: 3%;
  background-color: rgba(0, 128, 0, 0.5);
}

.botonResAden h2 {
  color: white;
  text-align: center;
  padding: 25%;
}

.botonResAfu {
  border: solid 2px red;
  width: 350px;
  height: 350px;
  margin: 3%;
  background-color: rgba(255, 0, 0, 0.5);
}

.botonResAfu h2 {
  color: white;
  text-align: center;
  padding: 25%;
}

.mesas {
  border: solid 2px yellow;
  width: 150px;
  height: 150px;
  color: yellow;
  font-size: 20px;
  font-weight: bolder;
  text-align: center;
}

.contenedor {
  overflow: hidden;
  margin: 50px auto;
  background-color: rgba(255, 255, 255, 0.7);
  font-family: 'Franklin Gothic', 'Impact';
  font-weight: 900;
}

.btn-outline-danger, .btn-outline-success {
  width: 40px;
  height: 40px;
  font-size: 20px;
}

.contenedor__comida {
  overflow: hidden;
  margin: 50px auto;
  background-color: rgba(255, 255, 255, 0.7);
  font-family: 'Franklin Gothic', 'Impact';
  font-weight: 900;
}

.btn-outline-danger, .btn-outline-success {
  width: 40px;
  height: 40px;
  font-size: 20px;
}

#cardsComida div img {
  -o-object-fit: cover;
     object-fit: cover;
  max-height: 200px;
}
/*# sourceMappingURL=style.css.map */