.contenedor{
    overflow: hidden;
    margin: auto;
    background-color:rgba(255, 255, 255, 0.7) ;
    font-family: 'Franklin Gothic', 'Impact';
    font-weight: 900;
}

.btn-outline-danger, .btn-outline-success{
    width: 40px;
    height: 40px;
    font-size: 20px;
}


#atrasBarra{
    margin-left: 20px;
    margin-bottom: 0%;
    margin-top: 15px;
}

.carritoBarra{
    display: flex;
}

#cards{
    & div{
        & img{
            object-fit:scale-down;
            max-height: 200px;
        }
    }
}