#reserva{
    color: white;
    font-family: 'Franklin Gothic', 'Impact';
    font-weight: 900;
    text-align: center;
    -webkit-text-stroke: 1px black;
}

.reservasDeMesas{
    display: flex;
    align-items: center;
    justify-content:center;
    
}

.botonResAden{
    border-radius: 10px;
    width: 350px;
    height: 350px;
    margin: 3%;
    background-color: rgb(25, 135, 84);
        &:hover{
            box-shadow: 2px 2px 2px 10px rgba(25, 135, 84, 0.5);
        }
    h2{
        color: white;
        text-align: center;
        padding: 25%;
        -webkit-text-stroke: 1px black;
    }
}

.botonResAfu{
    border-radius: 10px;
    width: 350px;
    height: 350px;
    margin: 3%;
    background-color: rgb(220, 53, 69);
    
        &:hover{
            box-shadow: 2px 2px 2px 10px rgba(220, 53, 70, 0.5);
        }
    h2{
        color: white;
        text-align: center;
        padding: 25%;
        -webkit-text-stroke: 1px black;
    }
}

.mesas{
    background-color: rgba(255, 255, 0, 0.233);
    border: solid 2px yellow;
    border-radius: 5px;
    width: 150px;
    height: 150px;
    color: yellow;
    font-size: 20px;
    font-weight: bolder;
    text-align: center;
    -webkit-text-stroke: 1px black;
}