.reservasDeMesas{
    display: flex;
    align-items: center;
    justify-content:center;
    
}

.botonResAden{
    border: solid 2px green;
    width: 350px;
    height: 350px;
    margin: 3%;
    background-color: rgba(0, 128, 0, 0.5);
    h2{
        color: white;
        text-align: center;
        padding: 25%;
    }
}

.botonResAfu{
    border: solid 2px red;
    width: 350px;
    height: 350px;
    margin: 3%;
    background-color: rgba(255, 0, 0, 0.5);
    h2{
        color: white;
        text-align: center;
        padding: 25%;
    }
}

.mesas{
    border: solid 2px yellow;
    width: 150px;
    height: 150px;
    color: yellow;
    font-size: 20px;
    font-weight: bolder;
    text-align: center;

}