body{
    background-image: url(../images/bar-bienvenida.jpeg);
    background-size: cover;
}

.bienvenidos{
    text-align: center;
    &__text{
        margin-top: 5%;
        font-size: 50px;
        color: rgb(255, 185, 0);
        text-shadow: 5px 5px 3px black;
    }
}

#copy{
    color:wheat ;
    text-align: center;
    font-size: 12px;
}


.card__boton1{
    background-image: url(../images/Boton_seleccion/reserva-mesa.jpg);
    background-position: center;
    background-size: cover;
    height: 500px;
    width: 400px;
    color: white;
    -webkit-text-stroke: 0.3px rgb(255, 185, 0);
    margin: 5% auto;
    padding: 0%;
    border: solid 1px white;
    box-shadow: 15px 15px 10px black;
        &:active{
            left: 5px;
            top: 10px;
            box-shadow: none;
        }
    &--text{
        display: flex;
        flex-direction: column;
        justify-content: center;
        background-color: rgba(0, 0, 0, 0.5);
        &-footer{
            background-color: rgba(0, 0, 0, 0.5);
            border: solid 1px white;
            color: white !important;
        }
    }
}

.card__boton2{
    @extend .card__boton1;
    background-image: url(../images/Boton_seleccion/trago-en-barra.jpg);
    &--text{
        @extend .card__boton1--text;
        &-footer{
            @extend .card__boton1--text-footer
        }
    }
}

.card__boton3{
    @extend .card__boton1;
    background-image: url(../images/Boton_seleccion/comida-para-llevar.jpg);
    &--text{
        @extend .card__boton1--text;
        &-footer{
            @extend .card__boton1--text-footer;
        }
    }
}

@media (max-width: 600px) {
    .bienvenidos{
        margin: 10%;
    }
}